TEXT_EMBEDDER_NAME="sentence-transformers/all-mpnet-base-v2"
#TEXT_EMBEDDER_NAME="sentence-transformers/paraphrase-MiniLM-L3-v2"
CHUNK_SIZE=1000    


OPENAI_API_KEY=sk-proj
OPENAI_MODEL=llama3.2:3b
#OPENAI_MODEL=gpt-4o

QDRANT_URL=https://...
QDRANT_API_KEY=...

